<routes xmlns ="http://camel.apache.org/schema/spring">
    <route id="file-mover">
        <from uri = "file:///F:/Tutorials/Apache camel/test" />
        <log message = "Headers : ${headers}"/>
        <log message = "Body : ${body}"/>
        <to uri = "file:///F:/Tutorials/Apache camel/test/processed"/>
    </route>
</routes>